{% set content_type = node.bundle %}

{{ attach_library('localgov_base/full') }}
{{ attach_library('localgov_base/directories') }}

{%
  set classes = [
    content_type|clean_class,
    'node',
    'node--type-' ~ node.bundle|clean_class,
    content_type in restricted_width_content_types ? 'node--with-restricted-width',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]

%}

<article{{ attributes.addClass(classes).removeAttribute('role') }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes.addClass('lgd-row', content_type|clean_class ~ '__content', 'node__content') }}>
    <div class="lgd-row__two-thirds localgov-directories-page__content-body">
      {{ content|without('group_venue', 'group_enquiries', 'group_organisation') }}
    </div>
    <div class="lgd-row__one-third localgov-directories-page__content-contacts">
      <div class="localgov-directories-page__contact-container">
        
        {% block venue %}
          {{ content.group_venue }}
        {% endblock %}
        
        {% block organisation %}
          {{ content.group_organisation }}
        {% endblock %}
        
        {% block enquiries %}
          {% if node.localgov_directory_email.value
              or node.localgov_directory_phone.value
              or node.localgov_directory_website.value
              or node.localgov_directory_name.value
              or node.localgov_directory_job_title.value 
              or node.localgov_directory_opening_times.value 
          %}

              <div class="localgov-directories-page__contact">
                <mark>@TODO Add correct icons</mark>
              </div>
            {% if node.localgov_directory_name.value %}
              <div class="localgov-directories-page__contact">
                  {% include "@localgov_base/includes/icons/icon.html.twig" with {
                      icon_name: 'heart',
                      icon_wrapper_element: 'div',
                    }
                  %}
                {{ content.group_enquiries.localgov_directory_name }}
              </div>
            {% endif %}

            {% if node.localgov_directory_job_title.value %}
              <div class="localgov-directories-page__contact">
                  {% include "@localgov_base/includes/icons/icon.html.twig" with {
                      icon_name: 'heart',
                      icon_wrapper_element: 'div',
                    }
                  %}
                {{ content.group_enquiries.localgov_directory_job_title }}
              </div>
            {% endif %}

            {% if node.localgov_directory_phone.value %}
              <div class="localgov-directories-page__contact">
                  {% include "@localgov_base/includes/icons/icon.html.twig" with {
                      icon_name: 'heart',
                      icon_wrapper_element: 'div',
                    }
                  %}
                {{ content.group_enquiries.localgov_directory_phone }}
              </div>
            {% endif %}

            {% if node.localgov_directory_email.value %}
              <div class="localgov-directories-page__contact">
                  {% include "@localgov_base/includes/icons/icon.html.twig" with {
                      icon_name: 'heart',
                      icon_wrapper_element: 'div',
                    }
                  %}
                  <a href="mailto:{{ node.localgov_directory_email.value }}">{{ node.localgov_directory_email.value }}</a>
              </div>
            {% endif %}

            {% if node.localgov_directory_website.value %}
              <div class="localgov-directories-page__contact">
                  {% include "@localgov_base/includes/icons/icon.html.twig" with {
                      icon_name: 'heart',
                      icon_wrapper_element: 'div',
                    }
                  %}
                {{ content.group_enquiries.localgov_directory_website }}
              </div>
            {% endif %}
          </div>
          {% if node.localgov_directory_opening_times.value %}
            <div class="localgov-directories-page__contact-container">
              <div class="localgov-directories-page__opening-times">
                {{ content.group_enquiries.localgov_directory_opening_times }}
              </div>
            </div>
          {% endif %}

        {% endif %}
      {% endblock %}
    </div>
  </div>
  {% if node.localgov_directory_email.value
        or node.localgov_directory_phone.value 
        or node.field_directory_twitter.value 
        or node.field_directory_facebook.value 
        or node.field_directory_instagram.value 
        or node.localgov_directory_website.value 
        or node.field_directory_cost.value 
        or node.field_directory_siblings_attend.value 
        or node.field_directory_available_online.value 
        or node.field_directory_free_everyone.value 
  %}
  
    <div class="lgd-row">
      <div class="lgd-row__one-half">

        {# Begin Access needs #}
        {% if node.field_directory_venue_ally.value %}
          <div class="lgd-directory__meta-item">
            <h3 class="lgd-directory__meta-item-title">{{ 'Access needs'|t }}</h3>
            <div class="lgd-directory__meta-item-content">
              {% for item in node.field_directory_venue_ally %}
                {% set value = item.entity.name.value %}
                {% include "@anrt_lgd/content/localgov-directories/meta-item.html.twig" 
                  with {
                    'title': false,
                    'icon': 'check',
                    'value':  value,
                  }
                %}
              {% endfor %}
            </div>
          </div>
        {% endif %}
        {# End Access needs #}

        {# Begin special needs #}
        {% if node.localgov_directory_facets_select.value %}

          {% set accessibility = false %}
          {% for item in content.localgov_directory_facets_select['#items'] %}
            {% if item.entity.bundle.target_id == 'accessibility' %}
              {% set accessibility = true %}
            {% endif %}
          {% endfor %}

          {% if accessibility %}    
            <div class="lgd-directory__meta-item">
              <h3 class="lgd-directory__meta-item-title">{{ 'Special need'|t }}</h3>
              <div class="lgd-directory__meta-item-content">
                {% for item in content.localgov_directory_facets_select['#items'] %}
                  {% if item.entity.bundle.target_id == 'accessibility' %}
                    {% set value = item.entity.title.value %}
                    {% include "@anrt_lgd/content/localgov-directories/meta-item.html.twig" 
                      with {
                        'title': false,
                        'icon': 'check',
                        'value':  value,
                      }
                    %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endif %}
        {# End special needs #}

        {# Begin Email and Phone #}
        {% if node.localgov_directory_email.value or node.localgov_directory_phone.value %}
          <div class="lgd-directory__meta-item">
            <h3 class="lgd-directory__meta-item-title">{{ 'Contact'|t }}</h3>
            <div class="lgd-directory__meta-item-content">
              {% if node.localgov_directory_email.value %}
                {% set value %} 
                  <a href="mailto:{{ node.localgov_directory_email.value }}">{{ node.localgov_directory_email.value }}</a>
                {% endset %}
                {% include "@anrt_lgd/content/localgov-directories/meta-item.html.twig" 
                  with {
                    'title': 'Email'|t,
                    'value':  value,
                  }
                %}
              {% endif %}

              {% if node.localgov_directory_phone.value %}
                {% set value %} 
                  <a href="tel:{{ node.localgov_directory_phone.value }}">{{ node.localgov_directory_phone.value }}</a>
                {% endset %}
                {% include "@anrt_lgd/content/localgov-directories/meta-item.html.twig" 
                  with {
                    'title': 'Phone'|t,
                    'value':  value,
                  }
                %}
              {% endif %}

            </div>
          </div>
        {% endif %}
        {# End Email and Phone #}
        <mark>Add social media links</mark>
      </div>

      <div class="lgd-row__one-half">
        {# Begin Cost #}
        {% if node.field_directory_cost.value %}
          <div class="lgd-directory__meta-item">
            <h3 class="lgd-directory__meta-item-title">{{ 'Cost'|t }}</h3>
            <div class="lgd-directory__meta-item-content">
              {% if node.localgov_directory_email.value %}
                {% set value %} 
                  {{ content.field_directory_cost }}
                {% endset %}
                {% include "@anrt_lgd/content/localgov-directories/meta-item.html.twig" 
                  with {
                    'title': false,
                    'icon': 'check',
                    'value':  value,
                  }
                %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        {# End Cost #}

        {# Begin free-4-all #}
        {% if node.field_directory_free_everyone.value %}
          <div class="lgd-directory__meta-item">
            <h3 class="lgd-directory__meta-item-title">{{ 'Can siblings without SEND also attend'|t }}</h3>
            <div class="lgd-directory__meta-item-content">
              {% if node.field_directory_siblings_attend.value %}
                {% if node.field_directory_siblings_attend.value == 'yes' %}
                  {% set value = 'Yes' %}
                    {% else %}
                      {% set value = 'No' %}
                {% endif %}

                {% if value == 'Yes' %}
                  {% set icon = 'check' %}
                  {% else %}
                    {% set icon = false %}
                {% endif %}
                
                {% include "@anrt_lgd/content/localgov-directories/meta-item.html.twig" 
                  with {
                    'title': false,
                    'icon': icon,
                    'value':  value,
                  }
                %}
              {% endif %}
            </div>
          </div>
        {% endif %}
        {# End free-4-all #}
      </div>
      
    </div>
  {% endif %}

</article>
