<div class="preview-link">
  <p>{{ description }}</p>
  <h2 class="preview-link__title">{{ title }}</h2>
  <p><span class="label">{{ 'Link:'|t }}</span> <span class="preview-link__link"><a href="{{ link }}">{{ link }}</a></span></p>
  <p><span class="label">{{ 'Expiry:'|t }} </span>{{ remaining_lifetime }}</p>
</div>
